h2{
  font-family: cursive;
  text-align: center;
}

.art{
  margin:auto;
}

td{
  height:300px;
  width: 150px;
  border: 6px solid white; /*distance between columns*/
}

#one{
  background-color: #ffb5a7;
}

#two{
  background-color: #fcd5ce;
}

#three{
  background-color: #f8edeb;
}

#four{
  background-color: #f9dcc4;
}

#five{
  background-color: #fec89a;
}
