body{
  background: #C5E3E6;
}

h1{
  border-color: black;
  border-style: solid;
  border-width: thin;
}
h3{
  color: purple;
}

.thanks{
  background-color: #F4F18B;
}

.input{
  color: purple;
  text-decoration: overline;
}

.FirstText{
  border-color: grey;
  border-width: thick;
}


#login{
  border-color: #950A21;
  border-style: solid;
  border-width: medium;
}

.lastPart{
  background-color: blue;
  border: 4px dashed yellow;
}
